/** This is the style for the body **/

body {background-color:black;
       font-family:arial;
       font color:white;    
     
     }

/** This is the style for the heading 1  **/

h1{color:grey; 
    font-family:verdana;
    text-align:center;
    }

/** This is the style for maindiv **/

   .maindiv{background-color:white;
    font color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    margin:auto;   
           
    }
/** This is the style for the highlighting of the numbers that are returned 
from the calculation of the simple interest calculator **/

.highlight {
    background:yellow;
}

.footer{
    text-align:left;

}

